<% if @plant %>
  <h1>Reviews for <%= @plant.name%></h1>
<% else %>
  <h1>All Reviews</h1>
<% end %>
<ul>
<% @review.each do |r|%>
  <li><%= r.user.name%> says "<%= r.rating%>" about this plant: <strong><%= link_to r.plant.name, plant_path(r.plant_id) %></strong></li>
<% end %>
</ul>